.home {
  min-height: 100vh;
  background: #141414;
  padding-bottom: 50px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: white;
}

.rows-container {
  margin-top: 30px;
}
